<main class="main">

  <div class="container">

    <!-- 🔥 LOGO -->
    <div class="logo">
      <h1>Greatley <span>Poshley</span></h1>
    </div>

    <!-- 🧾 LOGIN CARD -->
    <div class="login-card">

      <h2 class="login-title">Welcome</h2>
      <p class="subtitle">Login to continue</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- EMAIL -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />

          <mat-error *ngIf="email?.invalid && email?.touched">
            <span *ngIf="email?.hasError('required')">Email is required</span>
            <span *ngIf="email?.hasError('invalidEmail')">Enter valid email</span>
          </mat-error>
        </mat-form-field>

        <!-- PASSWORD -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>

          <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />

          <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
            <mat-icon>
              {{ hidePassword ? 'visibility' : 'visibility_off' }}
            </mat-icon>
          </button>

          <mat-error *ngIf="password?.invalid && password?.touched">
            Password is required
          </mat-error>
        </mat-form-field>

        <!-- FORGOT -->
        <div class="forgot-container">
          <button mat-button type="button" (click)="goToForgotPassword()">
            Forgot Password?
          </button>
        </div>

        <!-- ERROR -->
        <div class="error" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <!-- LOGIN -->
        <button mat-stroked-button class="gp-button" style="color: white;" type="submit">
          Continue
        </button>

      </form>

      <div class="divider-text">Don't have an account?</div>

      <!-- CREATE -->
      <button mat-stroked-button class="gp-button-light" style="color: white;" (click)="goToCreateAccount()">
        Create an Account
      </button>

    </div>

  </div>

</main>