 <!-- PROFILE -->
            <section class="profile-card">

                <div class="card-header">
                    <div>
                        <h2>User Information</h2>
                        <p class="sub">Manage your details</p>
                    </div>

                    <button mat-stroked-button color="primary" style="color: white;" class="gp-button"
                        (click)="openEditDialog()">
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                </div>

                <div class="profile-content">

                    <div class="avatar-wrapper">
                        <img *ngIf="user.image; else emptyAvatar" [src]="user.image" class="avatar-img" />
                        <ng-template #emptyAvatar>
                            <div class="avatar">
                                <mat-icon>person</mat-icon>
                            </div>
                        </ng-template>
                    </div>

                    <div>
                        <h3>{{ user.name }}</h3>
                        <p>{{ user.email }}</p>
                        <p>{{ user.phone }}</p>
                    </div>

                </div>

            </section>

            <!-- ORGS -->
            <section class="org-section">

                <h2>Your Organisations</h2>

                <div class="org-table">

                    <div class="org-header">
                        <span>Name</span>
                        <span>Description</span>
                        <span>Contact</span>
                        <span></span>
                    </div>

                    <div class="org-row" *ngFor="let org of (organisations$ | async)"
                        (click)="goToOrganisation(org.id)">

                        <div class="org-name">
                            <div class="org-icon">
                                {{ org.title?.charAt(0) }}
                            </div>
                            {{ org.title }}
                        </div>

                        <div>{{ org.description || '-' }}</div>

                        <div class="org-contact">
                            <div>{{ org.email }}</div>
                            <div>{{ org.phone }}</div>
                        </div>

                        <button mat-icon-button (click)="goToOrganisation(org.id); $event.stopPropagation()">
                            <mat-icon>arrow_forward</mat-icon>
                        </button>

                    </div>

                </div>

            </section>